@import "compass/reset";
@import "compass/css3";

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

body {
  background: #cd3232 url(../images/bg.png);

  color: #fff;
  font: 20px "Helvetica Neue Light", "HelveticaNeue-Light", Arial, Helvetica, sans-serif;
  line-height: 30px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
}

//wrap
.wrap {
  position: absolute;

  width: 760px;
  height: 410px;

  margin-left: -380px;
  margin-top: -228px;

  left: 50%;
  top: 50%;
}

//information
.information {
  text-align: center;

  a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;

    -webkit-transition: color 250ms linear;

    &:active,
    &:visited,
    &:hover {
      color: rgba(255, 255, 255, .7);
    }
  }

  .name {
    font-size: 37px;
    line-height: 60px;

    margin-bottom: 28px;

    span {
      font-weight: bold;
    }

    em {
      text-decoration: line-through;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);

      @include opacity(.6);
    }
  }
}

//blocks for information
.blocks {
  text-align: center;

  margin-top: 40px;

  white-space: nowrap;

  font-size: 28px;
  font-weight: bold;

  .clear {
    clear: both;
  }

  header {
    color: rgba(255, 255, 255, .6);
    font-size: 16px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  }

  .left,
  .right {
    float: left;

    width: 350px;
  }

  .left {
    border-right: 1px solid rgba(255, 255, 255, .2);

    padding-right: 10px;

    text-align: right;
  }

  .right {
    padding-left: 10px;

    text-align: left;
  }

  .small {
    font-size: 20px;
    font-weight: normal;
  }

  em {
    font-weight: bold;
  }
}

//footer
.me {
  position: absolute;
  bottom: 10px;
  right: 10px;

  color: #000;
  font-size: 12px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
  line-height: 12px;

  @include opacity(.4);

  -webkit-transition: opacity 250ms linear;

  em {
    font-weight: bold;
  }

  &:hover {
    @include opacity(.6);
  }
}

//hearts
.heart {
  position: absolute;
  text-align: center;
  z-index: 9999;
  top: -100px;
  width: 1em;
  height: 1em;
  color: rgba(255,255,255,.2);
  font-size: 16px;
  text-shadow: 0 0 0;
//  text-shadow: rgba(0, 0, 0, 0.7) 1px 1px 2px;
  /* We use the following properties to apply the fade and drop animations to each snowflake.
     Each of these properties takes two values. These values respectively match a setting
     for fade and drop.
  */
  -webkit-animation-iteration-count: infinite, 20;
  -webkit-animation-direction: normal, normal;
  -webkit-animation-timing-function: linear, ease-in;
}

.heart span {
  position: absolute;
  display: block;
  width: 1em;
  height: 1em;
  /* We use the following properties to adjust the clockwiseSpin or counterclockwiseSpin
     animations on each snowflake.
     The createASnowflake function determines whether a flake has the
     clockwiseSpin or counterclockwiseSpin animation.
  */
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-transform-origin: 50% -100%;

}

.heart.tiny {
  font-size: 0.5em;
}

.heart.small {
  font-size: 1em;
}

.heart.medium {
  font-size: 2em;
}

.heart.large {
  font-size: 3em;
}

.heart.massive {
  font-size: 7em;
}

/* Hides a snowflake towards the very end of the animation */
@-webkit-keyframes fade {
  /* Show a snowflake while into or below 85 percent of the animation and hide it, otherwise */
  0%   { opacity: 1; }
  85%  { opacity: 1; }
  100% { opacity: 0; }
}

/* Makes a snowflake fall from -50px to 650px pixels in the y-axis */
@-webkit-keyframes drop {
  0%   { -webkit-transform: translate(0px, -50px); }
  100% { -webkit-transform: translate(0px, 650px); }
}

/* Rotates a snowflake from -50 to 50 degrees in 2D space */
@-webkit-keyframes clockwiseSpin {
  0%   { -webkit-transform: rotate(-50deg); }
  100% { -webkit-transform: rotate(50deg); }
}


/* Rotates it from 50 to -50 degrees in 2D space */
@-webkit-keyframes counterclockwiseSpin  {
  0%   { -webkit-transform: rotate(50deg); }
  100% { -webkit-transform: rotate(-50deg); }
}
